.dessert-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #fff8f0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.dessert-card:hover {
  transform: scale(1.05);
}

.dessert-card img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 5px;
}

.dessert-card h3 {
  margin-top: 0.5rem;
  font-size: 1.8rem;
}

.dessert-card p {
  margin: 0.25rem 0;
  color: #555;
}

.dessert-description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* máximo 2 líneas */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more {
  display: block;             
  margin: 0.5rem 0 0.8rem 0;  
  color: rgb(49, 38, 38);                 
  font-style: italic;
  font-weight: bold;         
  text-decoration: none;      
  text-align: left;           
  transition: color 0.2s;
}

.read-more:hover {
  color: #555;                
  text-decoration: underline; 
}

/* Diseño responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .dessert-card img {
    height: 200px; /* más pequeña en móvil */
  }

  .dessert-card h3 {
    font-size: 1.3rem;
  }

  .read-more {
    font-size: 0.9rem;
  }
}