.filters {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.filters select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.filters label {
  font-weight: bold;
}
