@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Cormorant+Garamond:wght@400;500&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  color: #070707;
  
}

h1, h2, h3 {
  font-family: 'Great Vibes', cursive;
  font-weight: 100px;
  color: #0e0d0d;
}

.fixed-images-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 400px;
  perspective: 1200px; 
  gap: -40%;
  position: relative;
  overflow: visible;
  background-color: #c78080;
}

.image-wrapper {
  margin-top: 5px;
  flex: 0 0 40%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

/* Central recta y grande */
.image-wrapper.center {
  flex: 0 0 50%;
  z-index: 2;
  transform: scale(1) rotateY(0deg); 
}

/* Laterales inclinadas */
.image-wrapper.left {
  transform: scale(0.7) rotateY(60deg) translateX(-2%);
  z-index: 1;
}

.image-wrapper.right {
  transform: scale(0.7) rotateY(-60deg) translateX(2%);
  z-index: 1;
}

/* Imágenes */
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

/* Texto sobre la central */
.image-text {
  position: absolute;
  bottom: 200px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'Great Vibes', cursive;
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
  
}

.welcome-section {
  max-width: 900px;         
  margin: 2rem auto;        
  padding-left: 0.5rem;      
  text-align: left;          
  line-height: 1.5;           
}

.welcome-section h1 {
  font-size: 1.8rem;
  color: #5a3825;
  margin-bottom: 0.5rem;
}

.welcome-section p {
  font-size: 1.1rem;
  color: #3b2a1a;
  margin-bottom: 0.5rem;
}

.welcome-section p:last-child {
  font-weight: 500;
  color: #d16c5e;
     text-align: center;
  
}

/* iconos de postres en movimiento */
.welcome-icons {
   display: flex;        
  width: 100vw;
  overflow: hidden;
  background-color: #fff;
  padding: 1rem 0;
  box-sizing: border-box;
}

.icons-track {
  display: flex;
  gap: 2rem;
  width: max-content;    
  animation: scrollIcons 20s linear infinite;
}

.icons-track img {
  height: 60px;           
  width: auto;
}

@keyframes scrollIcons {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}



