@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Cormorant+Garamond:wght@400;500&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  color: #070707;
  
}

h1, h2, h3 {
  font-family: 'Great Vibes', cursive;
  font-weight: 100px;
  color: #0e0d0d;
}